<div id="logo">
    <h1><a href="#">Administracion de Alquileres</a></h1>
    <p><em>by Sebastian E. Diaz - <a href="http://www.ap-sys.com/">APSystems</a></em></p>
</div>
<div id="header">
  <div id="menu">
        <ul>
          <li><%= link_to 'Volver', shopping_path(@shopping) %></li>
        </ul>
    </div>
</div>
<div id="page">
    <div id="content">
        <div class="post">
            <h2 class="title"><a href="#"><%=@shopping.name %> - <%= @local.name %></a></h2>
            <p class="meta"><%= link_to 'Editar local', edit_shopping_local_path(@shopping) %></p>
            <p id="notice"><%= notice %></p>
            <table width="100%" >
            <tr>
                <th>Fecha</th>
                <th>Detalle</th>
                <th>Movimiento</th>
                <th>Importe</th>
                <th></th>
            </tr>
            <% @local.ctactes.all.each do |ctacte| %>
                <tr>
                    <td><%= ctacte.date %></td>
                    <td><%= ctacte.name %></td>
                    <td><%= ctacte.account %></td>
                    <td><%= ctacte.amount %></td>
                    <td><%= link_to 'Eliminar', [@shopping, @local, ctacte], :confirm => 'Esta seguro de eliminar el moviento: ' + ctacte.name, :method => :delete %></td>
                </tr>
            <% end %>
            </table>
          <br/>
        <p class="meta"><%= link_to 'Nuevo Movimiento', new_shopping_local_ctacte_path(@shopping,@local) %></p>
        </div>
    </div>
    <div id="sidebar">
      <ul>
        <li>
          <h2>saldo: <%= Ctacte.sum('amount') %></h2>
        </li>
      </ul>
    </div>
    <div id="sidebar">
      <ul>
        <li>
          <h2><%= @local.name %></h2>
          <table style="width:100%">
            <tr>
                <td style="width:40%"><b>Codigo:</b></td>
                <td><%= @local.code %></td>
            </tr>
            <tr>
                <td style="width:40%"><b>Union:</b></td>
                <td><%= @local.union %></td>
            </tr>
            <tr>
                <td style="width:40%"><b>Porcentaje:</b></td>
                <td><%= @local.porcent %></td>
            </tr>
            <tr>
                <td style="width:40%"><b>Paga Expensas:</b></td>
                <td><%= check_box_tag("expensas",@local.expensas, @local.expensas) %>  </td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
</div>