<head>
          <script>
             $( ".datepicker" ).datepicker({
              changeMonth: true,
              changeYear: true
              });
          </script>

  <style type="text/css">
            .field_periodo{
              float:left;
              width:33%;
              }
            .actions{
              clear:both;
              }
          </style>
    </head>

<%= form_for([@shopping, @local, @ctacte]) do |f| %>

<div id="logo">
    <h1><a href="#">Administracion de Alquileres</a></h1>
    <p><em>by Sebastian E. Diaz - <a href="http://www.ap-sys.com/">APSystems</a></em></p>
</div>
<div id="header">
    <div id="menu">
        <ul>
          <li></li>
        </ul>
    </div>
</div>
  <% if @ctacte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ctacte.errors.count, "error") %> prohibited this ctacte from being saved:</h2>

      <ul>
      <% @ctacte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="page">
    <div id="content">
        <div id="post">
          <h2><%=@shopping.name %> - <%= @local.name %></h2>
          <p id="notice"><%= notice %></p>

            <div class="field">
                Detalle:<br />
                <%= f.text_field :name %>
            </div>
            <div class="field">
                Movimiento:<br />
                <%= f.collection_select :account_id, Account.all, :id, :name, :prompt => true %>
            </div>

                Fecha:<br />
                <%= f.text_field(:date, :class => "datepicker") %>

          <div>Monto:<br/></div>
            <div class="field">
                <%= f.text_field :amount %>
            </div>
            <br/>
            <div class="actions">
                <%= f.submit %>
            </div>
        </div>
    </div>
</div>
<% end %>
