<%= form_for(@ctacte) do |f| %>
  <% if @ctacte.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ctacte.errors.count, "error") %> prohibited this ctacte from being saved:</h2>

      <ul>
      <% @ctacte.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
		<%= f.label :account %><br />
		<%= f.collection_select :account_id, Account.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
		<%= f.label :local %><br />
		<%= f.collection_select :local_id, Local.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
