<div id="logo">
    <h1><a href="#">Administracion de Alquileres</a></h1>
    <p><em>by Sebastian E. Diaz - <a href="http://www.ap-sys.com/">APSystems</a></em></p>
</div>
<div id="header">

  <div id="menu">
        <ul>
          <li><%= link_to 'Volver', shoppings_path %></li>
        </ul>
    </div>
</div>

<div id="page">
    <div id="content">
        <div class="post">
          <h2 class="title"><a href="#">Locales <%=@shopping.name %></a></h2>
          <p class="meta"><%= link_to 'Editar', edit_shopping_path(@shopping) %></p>
            <table style="width:100%" >
              <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Union</th>
                <th>Porcent</th>
                <th>Expensas</th>
                <th></th>
                <th></th>
                <th></th>
               </tr>
            <% @shopping.locals.each do |local| %>
              <tr>
                <td><%= local.name %></td>
                <td><%= local.code %></td>
                <td><%= local.union %></td>
                <td><%= local.porcent %></td>
                <td><%= local.expensas %></td>
                <td><%= link_to 'Ver', [@shopping, local] %></td>
                <td><%= link_to 'Editar', edit_shopping_local_path(@shopping, local) %></td>
                <td><%= link_to 'Eliminar', [@shopping, local], :confirm => 'Esta seguro de eliminar el local: ' + local.name, :method => :delete %></td>
               </tr>
            <% end %>
            </table>
          <br />
          <p class="meta"><%= link_to 'New Local', new_shopping_local_path(@shopping) %></p>
        </div>
    </div>
</div>
